#add-workflow-button 
{
	height:120px; 
	width:120px; 
	border-radius:50%; 
	position: absolute; 
	right:50px; 
	bottom:30px; 
	background-color:#0074D9; 
	color:white; 
	outline:none;
}

#add-task-button
{

	height:50px; 
	width:50px; 
	border-radius:50%; 
	background-color:#0074D9; 
	color:white; 
	outline:none;

}

.task-link
{

}

#add-workflow-button:hover 
{
	opacity: 0.75;
}

#add-task-button:hover
{
	opacity: 0.75;
}

#dismiss-popup-button
{
	position: absolute;
	right: 20px;
}

#dismiss-create-task-popup-button
{
	position: absolute;
	right: 20px;
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.black_overlay
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content 
{
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	background-color: white;
	z-index:1002;
	overflow: auto;
	border-radius: 15px;
}

#create-task-popup
{
	display: none;
	position: absolute;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 70%;
	padding: 16px;
	background-color: white;
	z-index:1002;
	overflow: auto;
	border-radius: 15px;
}


.list-group {
	overflow: hidden;
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
}
.list-group-item:first-child, .list-group-item:last-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
}
.list-group-item {
	border-left: 0px solid rgb(221, 221, 221);
	border-right: 0px solid rgb(221, 221, 221);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.list-group-item > .task-link >.show-menu {
	position: absolute;
	height: 100%; width:24px;
	top: 0px; right: 0px;
	background-color: rgba(51, 51, 51, 0.2);
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.list-group-item > .task-link > .show-menu > span {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	padding: 0px 5px;
}
.list-group-submenu {
	position: absolute;
	top: 0px;
	right: -88px;
	white-space: nowrap;
	list-style: none;
	padding-left: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.list-group-submenu .list-group-submenu-item {
	float: right;
	white-space: nowrap;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: rgb(51, 51, 51);
	color: rgb(235, 235, 235);
}
.list-group-item.open {
	margin-left: -88px;
}
.list-group-item.open > .task-link > .show-menu {
	right: 88px;
}
.list-group-item.open > .task-link > .list-group-submenu{
	right: 0px;
}
.list-group-submenu .list-group-submenu-item.primary {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 118, 177);
}
.list-group-submenu .list-group-submenu-item.success {
	color: rgb(255, 255, 255);
	background-color: rgb(92, 184, 92);
}
.list-group-submenu .list-group-submenu-item.info {
	color: rgb(255, 255, 255);
	background-color: rgb(57, 179, 215);
}
.list-group-submenu .list-group-submenu-item.warning {
	color: rgb(255, 255, 255);
	background-color: rgb(240, 173, 78);
}
.list-group-submenu .list-group-submenu-item.danger {
	color: rgb(255, 255, 255);
	background-color: rgb(217, 83, 79);
}
