<!DOCTYPE html>
<title>Odyssey Login</title>
<link href="/css/login.css" rel="stylesheet">
<body ng-controller="loginController">
<div class="container">        
    <div id="login-box" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        <div class="panel panel-default login">
            <div class="panel-heading">
                <h1 class="panel-title text-center">Welcome to Odyssey</h1>
            </div>     
            <div class="panel-body" >
                <form ng-submit="submit()" name="loginForm" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" ng-model="username" name="username" value="" placeholder="Username" requried>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" ng-model="password" name="password" placeholder="Password" autocomplete="off" required>
                    </div>                                                                  
                    <button id="login-button" ng-disabled="loginForm.$invalid" class="btn btn-success btn-block login-button" type="submit">Login</button>
                </form> 
                <button class="btn btn-default login-button" ng-click="displaySignupForm()">Sign Up!</button>    
            </div>                     
        </div>  
    </div>
    <div id="signup-box" class="signup-container col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h1 class="panel-title text-center">Join Odyssey!</h1>
            </div>     
            <div class="panel-body" >
                <form ng-submit="signupUser()" name="signupForm" id="form" class="form-horizontal">	
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" ng-model="signupEmail" placeholder="Email" autocomplete="off" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" ng-model="signupUsername" placeholder="Username" autocomplete="off"  required>
                    </div> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" ng-model="signupPassword" placeholder="Password" autocomplete="off" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" ng-model="signupConfirmPassword" placeholder="Confirm Password" autocomplete="off" required>
                    </div> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input type="text" class="form-control" ng-model="signupTitle" placeholder="Ttile" autocomplete="off" required>
                    </div>
                    <button id="signup-button" ng-disabled="signupForm.$invalid" class="btn btn-success btn-block signup-button" type="submit">Sign Up!</button>
                </form> 
                <button class="btn btn-default login-button" ng-click="displayLoginForm()">Back to Login</button      
            </div>                     
        </div>  
    </div>
</div>
</body>