<!DOCTYPE html>
<link href="/css/team.css" rel="stylesheet">
<body ng-controller="boardsController">
	<div class="container">

		<!-- Top Left Menu Bar -->
		<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
		    <div class="navbar-toggler animate">
		        <span class="menu-icon"></span>
		    </div>
	        <ul class="navbar-menu animate">
	            <li>
	                <a ng-href="/#/boards" class="animate">
	                    <span class="desc animate"> Boards </span>
	                    <span class="glyphicon glyphicon-th"></span>
	                </a>
	            </li>
	            <li>
	                <a href="/#/team" class="animate">
	                    <span class="desc animate"> Team </span>
	                    <span class="glyphicon glyphicon-user"></span>
	                </a>
	            </li>
	            <li>
	                <a href="#contact-us" class="animate">
	                    <span class="desc animate"> How To Reach Us </span>
	                    <span class="glyphicon glyphicon-comment"></span>
	                </a>
	            </li>
	        </ul>
		</nav>
		<!-- -->

		<!-- Invite New Member Popup -->
		<div id="invite-member-popup" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" ng-model="boardPopupState">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close"
						data-dismiss="modal" ng-click="dismissBoardPopup()">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">
					</h4>
					</div>
					<!-- Modal Body -->
					<div class="modal-body" style="height:240px;">
						<form role="form" ng-submit="addNewMember()" method="POST">
	                        <div class="input-group" style="margin:20px;">
	                            <span class="input-group-addon success"><span class="glyphicon glyphicon-envelope"></span></span>
	                            <input type="email" class="form-control input-lg" name="validate-optional" placeholder="New Member's Email" ng-model="newMemberEmail" autocomplete="off">
	                        </div>
	                        <div class="input-group" style="margin:20px;">
			                    <ul class="nav nav-pills">
			                        <li role="presentation" class="admin-selector"><a href="#" ng-click="selectAdmin()"><i class="glyphicon glyphicon-chevron-up"></i> Admin</a>
			                        </li>
			                        <li role="presentation" class="active non-admin-selector"><a href="#" ng-click="selectNonAdmin()"><i class="glyphicon glyphicon-chevron-down"></i> Normal</a>
			                        </li>
			                    </ul>
		                	</div>
	                        <div style="margin:20px;">
	                        <button type="submit" class="btn col-xs-12 btn-lg invite-button" ng-disabled="!newMemberEmail">Send an Invite!</button>
	                        </div>
						</form>					
					</div>
				</div>
			</div>
		</div>
	<!-- -->

	<!-- Delete User Confirmation Popup -->
		<div id="delete-user-popup" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close"
						data-dismiss="modal" ng-click="dismissBoardPopup()">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">
					</h4>
					</div>
					<!-- Modal Body -->
					<div class="modal-body" style="height:200px;">
						<form role="form">
	                        <div class="input-group" style="margin:20px;">
	                        	Are you sure you want to remove {{deleteUser.username}} from the team?
	                        </div>
	                        <div style="margin:20px;">
	                        <button type="submit" class="btn btn-md btn-danger" ng-click="confirmDeleteUser(deleteUser.id)">Yes</button>
	                        <button type="submit" class="btn btn-md" ng-click="cancelDeleteUser()">No</button>
	                        </div>
						</form>					
					</div>
				</div>
			</div>
		</div>
	<!-- -->

	<!-- Add User Button -->
	<button type="button" class="add-user-button" data-toggle="modal" data-target="#invite-member-popup">
    	<i class="glyphicon glyphicon-plus"></i> <i class="glyphicon glyphicon-user"></i>
	</button>
	<!-- -->

    <div class="row">
      	<div class="col-md-10 col-md-offset-1">
        	<div class="col-lg-12">
	        	<h6 class="description">YOUR AWESOME TEAM!</h6>
	        	<div class="row pt-md user-display-box">
	        	</div>
    		</div>
    	</div>
    </div>

	<div class="boards-container">
		<ul ng-repeat="board in boardsList">
			<li>
				<a ng-href="/boards/{{board._id}}">
					<div class="board">
					<h3>{{board.title}}</h3>
					<p>By: {{board.creator.username}}</p>
					<p>{{board.description}}</p>
					<button type="button" class="btn btn-danger btn-md board-remove-button" ng-click="deleteBoard(board._id); $event.preventDefault()"><i class="glyphicon glyphicon-remove"></i></button>
					<button type="button" class="btn btn-info btn-md board-edit-button" ng-click="editBoard(board); $event.preventDefault()"><i class="glyphicon glyphicon-cog"></i></button>
					</div>
				</a>
			</li>	
		</ul>
	</div>

	</div>
</body>