<!DOCTYPE html>
<title>Page Title</title>
<link href="/css/workflow.css" rel="stylesheet"  type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>
<body id="body" ng-controller="workflowController">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        </div>

        <!--<a class="navbar-brand navbar-center" ng-href="/boards">Boards</a>-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ng-href="/boards">Boards</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <input type="text" class="form-control" placeholder="Search">
        </form>
        </div>

    </div>
</nav>
<div class="container">       
   <div id="workflow-container" class="row">

    <div class="modal fade" id="workflow-form" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="height:220px;">
                <!-- Modal Header -->
                <button id="dismiss-popup-button" type="button" class="btn btn-danger btn-md" data-dismiss="modal" style="margin:20px;"><i class="glyphicon glyphicon-remove" ng-click="dismissWorkflowForm()"></i></button>
                <!-- Modal Body -->
                <div class="modal-body" style="margin-top: 30px;"> 
                    <form ng-submit="addNewWorkflow()" style="text-align:center;">
                        <div class="input-group" style="margin:20px;">
                            <span class="input-group-addon success"><span class="glyphicon glyphicon-plus"></span></span>
                            <input id="create-new-workflow-input" type="text" class="form-control input-lg" name="validate-optional" placeholder="New Workflow!" ng-model="newWorkflowTitle" ng-keyup="checkDataInCreateNewWorkflowInput()">
                        </div>
                        <div style="margin:20px;">
                        <button id="create-new-workflow-button" type="submit" class="btn btn-primary col-xs-12 btn-lg" ng-disabled="!newWorkflowTitle">Create</button>
                        </div>
                    </form>                               
                </div>
            </div>
        </div>
    </div>

    <!-- Add Workflow Button -->
    <button id="add-workflow-button" type="button" class="btn btn-circle btn-lg" data-toggle="modal" data-target="#workflow-form"><i class="glyphicon glyphicon-plus"></i></button>


    <!-- Create and Edit Task Popup -->
    <div class="modal fade" id="task-form" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" ng-model="boardPopupState">
        <div class="modal-dialog">
            <div class="modal-content" style="height:500px;">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button id="dismiss-create-task-popup-button" type="button" class="btn btn-danger btn-md" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center">
                {{taskFormState}} Task
                </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form ng-submit="submitTaskForm()" style="text-align:center;">
                        <div class="input-group" style="margin:20px;">
                            <span class="input-group-addon success"><span class="glyphicon glyphicon-plus"></span></span>
                            <input id="task-name-input" type="text" class="form-control input-lg" name="validate-optional" placeholder="New Task" ng-model="taskFormName" required>
                        </div>
                        <div class="input-group" style="margin:20px;">
                                <span class="input-group-addon success"><span class="glyphicon glyphicon-pencil"></span></span>
                                <textarea class="form-control" name="description" placeholder="Description" rows="3" ng-model="taskFormDescription"></textarea>    
                        </div>
                        <div class="input-group" style="margin:20px;">
                                <div style="float:left">
                                <div class="input-group">
                                <span class="input-group-addon success"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input id="create-new-workflow-input" type="date" class="form-control input-lg" ng-model="taskFormDate">
                                <!--Due Date: <input type="date" name="bday">-->
                                </div>
                                </div>
                                <div style="float:right; margin-left:15px;">
                                Priority: <div class="btn-group btn-group-md" role="group" aria-label="...">
                                  <button type="button" class="btn btn-success">Low</button>
                                  <button type="button" class="btn btn-warning">Medium</button>
                                  <button type="button" class="btn btn-danger">High</button>
                                </div>
                                </div>
                        </div>
                        <div class="input-group" style="margin:20px;">
                            <span class="input-group-addon success"><span class="glyphicon glyphicon-user"></span></span>
                            <input id="tags" type="text" class="form-control input-lg" name="validate-optional" placeholder="Assignee" ng-model="taskFormAssignee" ng-keyup="assigneeInputKeyEvent($event)" autocomplete="off">
                        </div>
                        <ul ng-repeat="assignee in assignees" style="padding:0; posiition: absolute;">
                            <li>{{assignee}}</li>
                        </ul>
                        <div style="margin:20px;">
                        <button id="create-task-button" type="submit" class="btn btn-primary col-xs-12 btn-lg" style="text-transform: uppercase;" ng-disabled="!taskFormName">{{taskFormState}}</button>
                        </div>
                    </form>                
                </div>
        </div>
    </div>
    </div>
    <!---->    
</div>

<ul ng-repeat="workflow in workflows" class="workflow-list">
    <li>
        <div id="{{workflow._id}" class='col-lg-4 col-lg-4' ng-model="workflowId">
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h4 class='panel-title'><a data-toggle='collapse' data-parent='#accordion' href='#collapseOne'>{{workflow.title}}</a></h4>
                    </div>
                        <div id='collapseOne' class='panel-collapse collapse in'>
                        <div class='panel-body'>
                        <ul class='list-group' ng-repeat="task in workflow.tasks">
                            <li id="{{task._id}}" class="list-group-item task-box">
                                <a href="#" style="text-decoration: none !important;" class="task-link">
                                <p style="word-break:break-all; margin-right: 10px; font-size: medium;">{{task.title}}</p>
                                <p ng-if="task.description" class="task-detail">Details : {{task.description}}</p>
                                <div>{{task.creator.username}}</div>
                                <button type="button" class="btn btn-danger btn-md task-remove-button" ng-click="deleteTask(task._id, workflow)"><i class="glyphicon glyphicon-remove"></i></button>
                                <button type="button" class="btn btn-primary btn-md task-edit-button" ng-click="editTask(task, workflow)" data-toggle="modal" data-target="#task-form"><i class="glyphicon glyphicon-cog"></i></button>
                                <button type="button" class="btn btn-info btn-md task-edit-button">50%</button>
                                <button type="button" class="btn btn-success btn-md task-edit-button"><i class="glyphicon glyphicon-calendar"></i>  3wk</button>
                                <span class="show-menu">
                                <span class="glyphicon glyphicon-chevron-right" rel="tooltip" title="Tip 1"></span>
                                </span>
                                </a>
                            </li> 
                        </ul>
                        <button id="add-task-button" class="btn btn-circle pull-right" ng-click="addTask(workflow)" data-toggle="modal" data-target="#task-form">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                        </div>
                </div>
            </div>
        </div>        
    </li>   
</ul>
</body>